@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

body {
  font-family: 'Space Grotesk';
  overflow: hidden;
  font-size: 18px;  
}

.wrapper {
  display: flex;
}

.wrapper__left {
  position: relative;
  display: flex;
}

.wrapper__right {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.wrapper__cards {
  position: absolute;
  display: flex;
  max-width: 450px;
  max-height: 245px;
}

.cardnumber {
  position: absolute;
  top: 57%;
  background-color: inherit;
  border: none;
  outline: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  display: inline-flex;
  width: 360px;
  justify-content: center;
  color: white;
}

.lowerData {
  position: absolute;
  top: 80%;
  background-color: inherit;
  border: none;
  outline: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  column-gap: 50px;
}

.nameSurname, .date {
  background-color: inherit;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
}

.nameSurname::placeholder, .date::placeholder {
  color: white;
}

.wrapper__card_upper-left {
  display: flex;
  column-gap: 20px;
  position: absolute;
  top: 13%;
  left: 6%;
}

.circle {
  background-color: white;
  width: 60px;
  border-radius: 20px;

}

.cardnumber::placeholder {
  color: white;
}

.front {
  top: 20%;
  left: 45%;
}

.back {
  top: 50%;
  left: 65%;
}

.wrapper__left_img {
  height: 100vh;
}

.wrapper__right-form {
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin: 0
}

.wrapper__form_top {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.input {
  box-sizing: border-box;
  border: none;
  border: solid 1px grey;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.wrapper__form_bot {
  display: flex;
  align-items: center;
}

.second {
  width: 30%;
  padding: 20px 10px 20px 20px;
  margin-right: 10px;
}

.third {
  width: 100%
}

button {
  width: 100%;
  padding: 25px;
  background-color: #280c34;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.cvvInputCard {
  position: absolute;
  outline: none;
  border: none;
  background-color: inherit;
  top: 50%;
  transform: translateY(-50%);
  left: 80%;
  color: white;
}

.cvvInputCard::placeholder {
  color: white;
}

#wrapper__right2 {
  display: none; 
  flex-direction: column;
  row-gap: 60px;
}

.wrapper__right2-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.wrapper__right2-info_h2 {
  letter-spacing: 4px;
  font-size: 32px;
}

.wrapper__right2-info_lowerText {
  color: grey;
  font-size: 20px;
}

.secondButton {
  width: 40%;
}